.input {
    margin: 0;
    padding: 2px 10px;
    border: none;
    border-bottom: 2px solid #3c3f3d;
    outline: none;
    font-size: 24px;
    max-width: 200px;
    color: #3c3f3d;
}

.input::placeholder {
    color: #b8b8b8;
}