.content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15rem;
}

@media (max-width: 980px) {
    .content {
        flex-direction: column;
        padding: 3rem 0;
    }
}